# DONE: Implementar el docker-compose.yml
services:
  mysql:
    image: mysql:8.0
    container_name: mysql-final-lab
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: final_lab_db
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  app:
    build: .
    container_name: spring-final-lab
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/final_lab_db
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
